.plans-table-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.plans-table-head-row {
  height: 80px;
}

.plans-table-head-cell {
  font-size: 18px;
  color: #0a162e;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}

.no-plan-cell {
  color: #616f86;
}

.plans-table-category-row {
  height: 76px;
}

.plans-table-category-cell {
  text-align: left;
  font-size: 18px;
  color: #d13800;
  font-weight: 600;
  width: 350px;
}

.plans-table-feature-row {
  height: 76px;
  font-size: 16px;
  font-weight: 400;
}

.plans-table-feature-cell {
  text-align: left;
}

.plans-table-feature-value {
  width: 180px;
}

.last-cell {
  background-color: #fff3ee;
}

.rounded-top {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.rounded-bottom {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

table {
  border-collapse: collapse;
}

.plans-table-feature-row {
  border-bottom: 1px solid #e6e9ec;
}

.plans-table-last-row {
  height: 76px;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.price-value-title {
  margin-top: 15px;
  margin-bottom: 0px;
}

.price-value-amount {
  font-size: 24px;
}

.price-value-subtitle {
  font-size: 0.8rem;
  color: #616f86;
  width: 50%;
  text-align: center;
}

.toggle-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #002ead;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
