.plans-table-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.plans-table-head-row {
  height: 80px;
}

.plans-table-head-cell {
  font-size: 18px;
  color: #0a162e;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  width: 180px;
}

.empty-cell {
  width: 375px;
}

.no-plan-cell {
  color: #616f86;
}

.plans-table-category-row {
  height: 76px;
}

.plans-table-category-cell {
  text-align: left;
  font-size: 18px;
  color: #d13800;
  font-weight: 600;
  width: 350px;
}

.plans-table-feature-row {
  height: 76px;
  font-size: 16px;
  font-weight: 400;
}

.plans-table-feature-cell {
  text-align: left;
}

.plans-table-feature-value {
  width: 180px;
}

.last-cell {
  background-color: #fff3ee;
}

.rounded-top {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.rounded-bottom {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

table {
  border-collapse: collapse;
}

.plans-table-feature-row {
  border-bottom: 1px solid #e6e9ec;
}

.last-category-feature-row {
  border-bottom: 1px solid #b1b4bd;
}

.plans-table-last-row {
  height: 76px;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.price-value-title {
  margin-top: 15px;
  margin-bottom: 0px;
}

.price-value-amount {
  font-size: 24px;
}

.price-value-subtitle {
  font-size: 0.8rem;
  color: #616f86;
  width: 50%;
  text-align: center;
}

.toggle-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #002ead;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.plans-scroll-wrapper {
  overflow: hidden;
  transition: max-height 0.4s ease;
  position: relative;
}

.plans-scroll-wrapper.collapsed {
  max-height: 450px;
}

.plans-scroll-wrapper.expanded {
  max-height: 2000px;
}

.plans-scroll-wrapper.collapsed::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
  pointer-events: none;
}

.no-padding-cell {
  padding: 0;
}

.inner-table {
  width: 100%;
  border-collapse: collapse;
}

.span-toggle-cell .toggle-button {
  margin: auto;
}

.best-value-chip {
  background-color: #e9faf4;
  color: #b35b00;
  font-weight: 300;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 4px 8px;
  border: 1px solid #b35b00;
  width: fit-content;
  position: absolute;
  margin-left: 50px;
  margin-top: -45px;
}

.tippy-tooltip {
  font-size: 0.8rem !important;
  margin-left: 10px;
  opacity: 0.9 !important;
}

.limited-offer-message {
  font-size: 0.8rem;
  color: #616f86;
}

.plans-table-plan-selection-row-mobile td {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 10px;
}

.plans-table-plan-selection-row-mobile td .MuiChip-root {
  font-size: 0.9rem;
  height: 30px;
  margin: 0 5px;
}
